.btn.active.signup {
  background-color: #155b55;
  border-color: #155b55;
}

.signupBtn {
  margin-bottom: 50px;
}

.profile-image {
  border-radius: 50%;
}
.box {
  background-color: #d0edea;
  padding: 20px;
  border-radius: 15px;
  width: 75%;
  margin: auto;
}

.form-control {
    width: 69%;
  }

.form-controlB {
    width: 100%;
}

.navbar-inverse {
    background-color: #155b55;
    border-color: #155b55;
  }

  .navbar {
    border-radius: 0px;
}

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0f423d;
}

.navbar-nav .active {
    background-color: #155b55;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #0f423d;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.badge {
    background-color: #0f423d;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

h1 {
  font-family: "Arial", cursive;
}

.search {
  margin-bottom: 15px;
}

.panel-info > .panel-heading {
  background-color: #d0edea;
}

.panel-heading {
  color: #155b55;
  border-color: #bce8f1;
  background-color: #d0edea;
}

.panel-default > .panel-heading {
  color: #155b55;
  border-color: #bce8f1;
  background-color: #d0edea;
}

.well {
  color: #155b55;
  background-color: #d0edea;
}

.addOpportunities {
  background-color: #26a69a;
  border-color: #155b55;
}

.addOpportunities:hover {
  background-color: #155b55;
  border-color: #155b55;
}

.btn {
  background-color: #26a69a;
  border-color: #155b55;
  color: #fff;
}

/*.btn > .btn-primary > .orgEditButton {
  background-color: #26a69a;//when clicked and then cursor moved
}*/

.btn:hover {
    color: #fff;
    background-color: #155b55;
    border-color: #155b55;
  }

  hr {
    color: #26a69a;
  }

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.profile-input {
  width:99%;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 60%;
}

.profileinfo {
  margin-left: 100px;
}

.box > .profileinfo {
  width: 50%;
}

.active {
    background-color: #4CAF50;
}

.panel {

}

.addOpportunities {
	padding: 2% 20%;
}

.orgEditButton {
	height: 18px;
	position: relative;
	bottom: -1px;
	right: 45px;
	float: right;
}

.orgEditButtonTwo {
	height: 22px;
	position: relative;
	bottom: 2px;
	right: -45px;
	float: right;
}

.infoValidate {
	height: 22px;
	position: relative;
	float: right;
}

.deleteBtn {
	height: 20px;
  border-radius: 50%;
	position: relative;
	bottom: -1px;
	float: right;
  padding: 6px 6px 2px 6px;
  margin-left: 7px;
  background-color: red;
  border-color: #8b0000;
}

.deleteBtn:hover {
  background-color: #8b0000;
  border-color: #8b0000;
}

.orgEditButton:focus {
	background-color: #155b55;
  color: #fff;
}

.deleteBtn:focus {
	background-color: red;
  color: #fff;
}

.btn:focus {
  color: #fff;
}

.table-striped {

}

.orgEdit {
	position: relative;
	bottom: 14px;
}

.orgEditTwo {
	position: relative;
	bottom: 12px;
}

.delete {
	position: relative;
	bottom: 14px;
}

.orgOppList {
	position: relative;
	height: 480px;
}

.orgVolunteerBox {
	position: relative;
	height: 285px;
}

span{
    display:block;
}

span:hover::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 22px;
  top: 0;
  right: 0;
  z-index:-1;
}
span:hover{
	position: relative;
    background:#7fd1ca;
	right: -60;
}

.lineGap {
	margin-top:2px;
	margin-bottom:1px;
	width: 92%;
	float: left;
}

.infoLineGap {
	margin-top:0px;
	margin-bottom:9px;
	width: 92%;
	float: left;
}

.infoButton {
	width: 131px;
	height: 35px;
	bottom: 10px;
	text-align: center;
}

.infoButtonTwo {
	width: 262px;
	height: 35px;
	margin-bottom: 10px;
}

.orgEditBio {
    resize: none;
	position: relative;
	bottom: 34px;
}

.orgEditBioBox {
	Height: 575px;
}

.orgEditButtons {
	float: left;
}

.orgEditInfo {
	position: relative;
	bottom: 37px;
}

.orgEditTitle {
	position: relative;
	top: -18px;
	left: 20px;
}

.orgEditTitleBox {
	height: 50px;
}

.orgEditTitleInput {
	position: relative;
	width: 750px;
	right: 15px;
	bottom: 59px;
	float: right;
}

.informationVolunteerPhone {
	float: right;
}

.informationVolunteerEmail {
	position: relative;
	right: 40%;
	float: right;
}

th, td {
    border-bottom: 1px solid #ddd;
}

footer {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 30px;
 height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #26a69a;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 13px;
 width: 13px;
 left: 2px;
 bottom: 2px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #155b55;
}

input:focus + .slider {
 box-shadow: 0 0 1px #155b55;
}

input:checked + .slider:before {
 -webkit-transform: translateX(11px);
 -ms-transform: translateX(11px);
 transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 17px;
}

.slider.round:before {
 border-radius: 50%;
}

#VolunteerToggle {
  display:inline-block;
  margin:10px;
}
#Toggle {
  display:inline-block;
  margin:10px;
}
#OrganizationToggle {
  display:inline-block;
}
